*{
    font-family: calibri;
    margin:0.1% 0.2%;
    padding: 0;
    border-radius: 10px;
    /* nullify selection */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#links{
  text-decoration: none;
}

:root {
  --blue: #21325e;
  --white: white;
  --flame:rgb(196, 114, 8);
}

